@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

#root {
  max-width: 1280px;
  margin: 0;
  text-align: center;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.4fr 3.1fr;
  grid-template-rows: 10% 2fr 5%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Title Title"
    "Menu Content"
    "Menu Footer";
}
.Title {
  grid-area: Title; 
  background-color: cadetblue;
  font-family: 'Orbitron', sans-serif;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.Menu {  
  grid-area: Menu;
  position: relative;
  background-color: coral;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  * {
    background-color: coral;
  }
  outline: none;
  cursor: pointer;
}

.Content {
  grid-area: Content;
  background-color: wheat;
  display: flex;
  justify-content: center;
}

.Footer {
  grid-area: Footer;
  background-color: cadetblue;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
}



