.Menu{
    z-index: 1;
    ul, 
    ul li, 
    ul ul {
      white-space: nowrap;
      list-style: none;
      padding: 0px;
    }
    ul button:hover,
    ul button:hover:focus {
        background-color: chocolate;
    }
    ul ul {
        position: absolute;
        width: auto;
        top: 0;
        right: 0px;
    }
    li {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.7em 1.8em 0.7em 1.8em;
      margin: 1vh;
    }
}
.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    z-index: -1;
    button {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
}
.show {
    visibility: visible;
    right: 100%;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -webkit-transition: transform 0.5s ease-in-out;  
    -moz-transition: transform 0.5s ease-in-out;  
    -o-transition: transform 0.5s ease-in-out;  
    -ms-transition: transform 0.5s ease-in-out;  
    transition: transform 0.5s ease-in-out;
}